.root {
  display: flex;
  flex-direction: column;
  background: url("/plasmic/alphapay/images/bgSamplepng.png") top 50% left 50% / cover repeat,
    var(--token-efPS-BymV);
  flex-column-gap: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance) {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  flex-shrink: 0;
}
.section {
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
  margin-top: 80px;
  min-width: 0;
  padding: 4.75rem 0rem;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.contentWrapper {
  flex-direction: column;
  max-width: 40rem;
  display: flex;
  width: 100%;
  margin-top: auto !important;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: relative;
  height: auto;
  min-width: 0;
  padding: var(--token-wp5Q1Gov6);
}
.contentWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-ydJ_QzM70));
  height: calc(100% + var(--token-ydJ_QzM70));
}
.contentWrapper > :global(.__wab_flex-container) > *,
.contentWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper > :global(.__wab_flex-container) > picture > img,
.contentWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-ydJ_QzM70);
}
@media (min-width: 0px) and (max-width: 768px) {
  .contentWrapper {
    padding-left: var(--token-ydJ_QzM70);
    padding-right: var(--token-ydJ_QzM70);
    margin-top: auto !important;
  }
}
.contentCard:global(.__wab_instance) {
  position: relative;
}
