.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-uf_61LoWS);
  box-shadow: none;
  min-width: 0;
  border-radius: 24px;
  padding: var(--token-2FcyDrHAS);
  border: 1px solid var(--token-PHzks3faD);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-2FcyDrHAS));
  height: calc(100% + var(--token-2FcyDrHAS));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-2FcyDrHAS);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: var(--token-ydJ_QzM70);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-ydJ_QzM70));
    height: calc(100% + var(--token-ydJ_QzM70));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-ydJ_QzM70);
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
  padding: var(--token-ydJ_QzM70);
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}
.form {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.form > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-ydJ_QzM70));
  height: calc(100% + var(--token-ydJ_QzM70));
}
.form > :global(.__wab_flex-container) > *,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form > :global(.__wab_flex-container) > picture > img,
.form > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-ydJ_QzM70);
}
.itemsBuyCard:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  height: 120px;
  border-radius: 12px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 72px;
    height: 72px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__enchq {
    width: 100%;
    padding-right: 0px;
    min-width: 0;
  }
}
.inputJumlahBeli {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px var(--token-wp5Q1Gov6) 0px;
}
.inputJumlahBeli > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-_fIPDH-wy));
  width: calc(100% + var(--token-_fIPDH-wy));
}
.inputJumlahBeli > :global(.__wab_flex-container) > *,
.inputJumlahBeli > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputJumlahBeli > :global(.__wab_flex-container) > picture > img,
.inputJumlahBeli
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_fIPDH-wy);
}
.label__okxEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-wvjBXYJra);
  font-weight: 600;
  min-width: 0;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-_fIPDH-wy));
  width: calc(100% + var(--token-_fIPDH-wy));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_fIPDH-wy);
}
.buttonMinus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: flex-start;
  cursor: pointer;
  min-height: 0;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.svg__n5Ohy {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-PHzks3faD);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__n5Ohy {
    max-width: none;
  }
}
.textInput__yU7Wm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  width: 50px;
  height: 44px;
  flex-shrink: 0;
}
.svg__cxEMk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aNukU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.buttonPlus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  cursor: pointer;
  min-height: 0;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.svg__n8Oht {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-JV_B1nl8c);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__n8Oht {
    max-width: none;
  }
}
.inputJumlahBeli2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-wp5Q1Gov6) 24px;
}
.inputJumlahBeli2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-_fIPDH-wy));
  height: calc(100% + var(--token-_fIPDH-wy));
}
.inputJumlahBeli2 > :global(.__wab_flex-container) > *,
.inputJumlahBeli2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.inputJumlahBeli2 > :global(.__wab_flex-container) > picture > img,
.inputJumlahBeli2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-_fIPDH-wy);
}
.label___8NIqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-wvjBXYJra);
  font-weight: 600;
  min-width: 0;
}
.textInput__ixICg {
  height: 54px;
  color: var(--token-efPS-BymV);
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 0px 16px;
}
.infoCard:global(.__wab_instance) {
  position: relative;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  max-width: 100%;
  background: var(--token-JV_B1nl8c);
  color: var(--token-wvjBXYJra);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px 24px;
  border-width: 0px;
}
.text__lexNh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.text___2GrFx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 18px;
}
